.station-block {
    overflow: auto;
    height: 500px;
    border: 1px solid #2b83e8;
    width: 400px;
    position: relative;

    z-index: 9999;
  }

  .collapse,div.card{
    border-color: transparent;
  }

  p>button{
      margin: 0.5%;
  }
  /* button[aria-controls="collapseExample"]{
    background-color: yellowgreen;
    color: white;
  } */
