.station-block {
    overflow: auto;
    height: 500px;
    border: 1px solid #2b83e8;
    width: 400px;
    position: relative;

    z-index: 9999;
  }

  .collapse{
      margin-right: 2%;
      margin-left: 2%;
  }